.navigation{
    height: 60px;
}

.navbar-brand {
    float: none;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.image {
    width:100vw;
    height: 90vh;
    background-image: url('../img/home.jpg');
    background-size: cover;
}

.image img{
    -webkit-filter: brightness(-100%);
    /*-webkit-filter: contrast(140%);*/
}

.content {
    height: 440px;
    text-align: center;
}

.hamburger-menu, .navbar-header{
    position: relative;
    z-index: 1;
    top: 40%;
    left: 7%;
    width: 90%;
}

.hamburger-menu img{
    width: 6%;
    max-width: 30px;
}

.text-hover{
    color: white;
    position: relative;
    top: 37%;
    font-size: 6vw;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    margin: 10px;
    margin-bottom: 40px;

    transform:scale(1,1.5); /* W3C */
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5);
}

.content-title{
    font-size: 10vw;
    color: #007BB4;
    margin-top: 6vh;
}

.telephone{
    font-size: 8vw;
    color: #47525e;
    margin-top: 8vh;
}

.telephoneNumber, .faxNumber{
    font-size: 8vw;
    color: #007BB4;
    margin-top: 5vh;
}

.fax, .email{
    font-size: 8vw;
    color: #47525e;
    margin-top: 9vh;
}

.emailValue{
    font-size: 5vw;
    color: #007BB4;
    margin-top: 5vh;
}

.desktop-home{
    position: relative;
    margin-top: 35px;
    height: 40px;
    background-color: #007BB4;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
}




/*  CONTACT PAGE */
.image-contact-tel{
    width:100vw;
    height: 17vh;
    background-image: url('../img/call-center-resize.png');
    background-size: cover;
    margin-bottom: -10px;
}

.contact-telephone{
    font-size: 6vw;
}

.contact-box{
    height: 120px;
}

.contact-content{
    line-height: 125px;
    text-align: center;
    font-size: 7vw;
    color: #007BB4;
    margin-bottom: 2vh;

}

.contact-content-details{
    text-align: center;
    font-size: 18px;
    color: #47525e;
    margin-bottom: 35px;
    margin-top: -30px;
}

.image-contact-fax{
    width:100vw;
    height: 17vh;
    background-image: url('../img/fax-corp.png');
    background-size: cover;
}

.contact-fax{
    font-size: 8vw;
}

.image-contact-mail{
    width:100vw;
    height: 17vh;
    background-image: url('../img/mail-sombre.png');
    background-size: cover;
}

.contact-mail{
    font-size: 6vw;
}

.emailText{
    position: relative;
    top: 18px;
    line-height: 35px;
}

.image-contact-adresse{
    width:100vw;
    height: 17vh;
    background-image: url('../img/map-sombre.jpg');
    background-size: cover;
}

/* END Contact */

/* Qualite */
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
    content: '\e316';
    display: inline;
    font-size: 7vw;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 15px;
    transform: rotate(180deg);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}

/* END #accordion rotate icon option */

.wrap{
    width: 80%;
    text-align: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #007BB4;
    background: none;
    box-shadow: none;
    margin-bottom: 10%;
}

/*.panel:last-child {
    border-bottom: none;
}*/

.panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

/*.panel-group .panel {
    border-radius: 0;
}*/

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-heading {
    /*background-color: #009688;*/
    border-radius: 0;
    border: none;
    color: #007BB4;
    padding: 0;
}

.panel-title a {
    display: block;
    /*color: #fff;*/
    padding: 15px;
    padding-right: 35px;
    position: relative;
    font-size: 4vw;
    font-weight: 400;
}

.panel-body {
    background: #fff;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    font-size: 3vw;
}

.panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */



.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#bs-collapse .panel-heading.active a:after {
    content: '\e909';
    transform: scale(1);
    transition: all 0.5s;
}

/* END Qualite */

/* Presentation page */
.image-presentation-1{
    width:100vw;
    height: 90vh;
    background-image: url('../img/Salle-Huiles.jpg');
    background-size: cover;
}

.text-hover-presentation-1{
    color: white;
    position: relative;
    top: 33vh;
    font-size: 4vw;
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 3vh;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    margin: 30px;
    margin-bottom: 40px;

    transform:scale(1,1.3); /* W3C */
    -webkit-transform:scale(1,1.3); /* Safari and Chrome */
    -moz-transform:scale(1,1.3); /* Firefox */
    -ms-transform:scale(1,1.3); /* IE 9 */
    -o-transform:scale(1,1.3);
}

.presentation-text-1{
    height: 140px;
    font-size: 4vw;
    background-color: #f9ebcc;
    text-align: justify;
    line-height: 150%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;

    /* Hide overflow of text in the padding when displayed on iPad */
    padding-top: 7%;
    padding-bottom: 7%;
}

.image-presentation-2{
    width:100vw;
    height: 100vh;
    background-image: url('../img/Salle-Preparatoire.jpg');
    background-size: cover;
}

.text-hover-presentation-2-title{
    color: white;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 6vw;
    line-height: 125%;
}

.text-hover-presentation-2-content{
    position: relative;
    color: white;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 5vw;
    top: 47vh;
    line-height: 110%;
}

.paragraph-1{
    margin-bottom: 5vh;
}


.arrow-hover{
    position: absolute;
    top: 86vh;
    left:0;
    right: 0;
}

path{
    fill: white;
}


/* Media queries for landscape orientation */
