.navigation{
    height: 60px;
}

.navbar-brand {
    float: none;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.image {
    width:100vw;
    height: 90vh;
    background-image: url('../img/home.jpg');
    background-size: cover;
}

.image img{
    -webkit-filter: brightness(-100%);
    /*-webkit-filter: contrast(140%);*/
}

.content {
    height: 440px;
    text-align: center;
}

.hamburger-menu{
    position: relative;
    z-index: 1;
    top: 40%;
    left: 7%;
    width: 90%;
}

.hamburger-menu img{
    width: 6%;
    max-width: 30px;
}

.text-hover{
    color: white;
    position: relative;
    top: 37%;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    margin: 10px;
    margin-bottom: 40px;

    transform:scale(1,1.5); /* W3C */
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5);
}

.content-title{
    font-size: 42px;
    color: #007BB4;
    margin-top: 24px;
}

.telephone{
    font-size: 34px;
    color: #47525e;
    margin-top: 48px;
}

.telephoneNumber, .faxNumber{
    font-size: 30px;
    color: #007BB4;
    margin-top: 22px;
}

.fax, .email{
    font-size: 36px;
    color: #47525e;
    margin-top: 48px;
}

.emailValue{
    font-size: 26px;
    color: #007BB4;
    margin-top: 22px;
}

.desktop-home{
    position: relative;
    margin-top: 30px;
    height: 40px;
    background-color: #007BB4;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
}